fastapi==0.110.0
uvicorn[standard]==0.29.0
prometheus-client==0.20.0

# requirements.txt
# madina
fastapi
uvicorn[standard]
pydantic
boto3                  # S3 / MinIO
kafka-python           # или confluent-kafka
sqlalchemy             # если есть БД
psycopg2-binary        # PostgreSQL
loguru                 # логи
prometheus-client      # метрики + мониторинг
python-multipart       # загрузка/отдача файлов
fastapi
uvicorn
pydantic-settings
aiokafka
python-dotenv
