fastapi==0.110.0
uvicorn[standard]==0.29.0
prometheus-client==0.20.0
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-logging==0.45b0
opentelemetry-semantic-conventions==0.45b0
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv
python-multipart
loguru
boto3
kafka-python
aiokafka
sqlalchemy
psycopg[binary]==3.2.1
numpy==1.26.4
gensim==4.3.3
opencv-python-headless==4.10.0.84
roboflow==1.2.11
requests==2.32.3
opensearch-py==3.1.0
