services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

#  opensearch:
 #   image: opensearchproject/opensearch:2.13.0
  #  environment:
   #  - discovery.type=single-node
    # - plugins.security.disabled=true
     #- OPENSEARCH_JAVA_OPTS=-Xms256m -Xmx256m
   # ports:
   # - "9200:9200"


  cms:
    build: ./cms
    environment:
      DATABASE_URL: postgresql://cinema:cinema@postgres:5432/cinema
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  etl:
    build: ./etl
    environment:
      DATABASE_URL: postgresql://cinema:cinema@postgres:5432/cinema
#      OPENSEARCH_URL: http://opensearch:9200
      CMS_URL: http://cms:8000
      PARTNER_FILE: /app/partner_movies.json
    depends_on:
      - postgres
 #     - opensearch
      - cms

